.deploy:
  image: harbor-gn2.cicd.s15m.nl/ictu-devops-pub/library/helm-toolbox:latest
  variables:
    CHART_NAME: ""
    NAMESPACE: ""
    CLUSTER: "overheid-test3"
    HARBOR_REPO: ""
  only:
    - tags
  environment:
    name: ${CLUSTER}
    action: verify
  before_script:
    - echo "Started by ${GITLAB_USER_LOGIN} at $(date +%Y-%m-%d'-'%H-%M-%S)"
    - apk add curl
  script:
    - PASSWORD_DECODED=$(echo ${HARBOR_ROBOT_SECRET} | base64 -d)
    - echo ${PASSWORD_DECODED} | helm registry login -u ${HARBOR_ROBOT_NAME} harbor-gn2.cicd.s15m.nl --password-stdin
    - helm upgrade --history-max 3 -i ${CHART_NAME} oci://harbor-gn2.cicd.s15m.nl/ictu-devops-charts/${CHART_NAME} --version ${CI_COMMIT_TAG} --values ./deployment/helm/${CHART_NAME}/values-${NAMESPACE}.yaml --namespace=ictu-devops-${NAMESPACE}
    - echo "tagging harbor images"
    - curl -u $HARBOR_ROBOT_NAME:$PASSWORD_DECODED -X DELETE https://${HARBOR_REG}/api/v2.0/projects/${HARBOR_PROJECT}/repositories/${HARBOR_REPO}/artifacts/$NAMESPACE/tags/$NAMESPACE
    - curl -u $HARBOR_ROBOT_NAME:$PASSWORD_DECODED -X DELETE https://${HARBOR_REG}/api/v2.0/projects/ictu-devops-charts/repositories/${CHART_NAME}/artifacts/$NAMESPACE/tags/$NAMESPACE
    - |
      curl --fail -u $HARBOR_ROBOT_NAME:$PASSWORD_DECODED POST https://${HARBOR_REG}/api/v2.0/projects/${HARBOR_PROJECT}/repositories/${HARBOR_REPO}/artifacts/${CI_COMMIT_TAG}/tags \
      -H 'accept: application/json' \
      -H 'Content-Type: application/json' \
      -d '{"name": "'"$NAMESPACE"'"}'
    - |
      curl --fail -u $HARBOR_ROBOT_NAME:$PASSWORD_DECODED POST https://${HARBOR_REG}/api/v2.0/projects/ictu-devops-charts/repositories/${CHART_NAME}/artifacts/${CI_COMMIT_TAG}/tags \
      -H 'accept: application/json' \
      -H 'Content-Type: application/json' \
      -d '{"name": "'"$NAMESPACE"'"}'
