.markdown ol {
  list-style-type: decimal; /* Ensures numbers appear */
  padding-left: 1em;
}

.markdown ul {
  list-style-type: disc; /* Ensures bullets appear */
  padding-left: 1.5em;
}

.markdown p,
.markdown li,
.markdown pre,
.markdown table {
  margin-bottom: 1em;
}

.markdown p:last-child {
  margin-bottom: 0;
}

.markdown table,
.markdown pre {
  overflow-x: auto;
  max-width: 100%;
  display: block;
  border-spacing: 0;
  border-collapse: separate; /* important for border radius */
}

.markdown th:first-child {
  border-top-left-radius: 0.25em;
}

.markdown th:last-child {
  border-top-right-radius: 0.25em;
}

.markdown tr:last-child > td:first-child {
  border-bottom-left-radius: 0.25em;
}

.markdown tr:last-child > td:last-child {
  border-bottom-right-radius: 0.25em;
}

.markdown td,
.markdown th {
  padding: 0.5em;
  font-size: 0.95rem;
}

.markdown th,
.markdown td {
  border-bottom: 1px solid var(--accent);
}

.markdown a {
  text-decoration: underline;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.markdown hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.markdown pre {
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  border-bottom-left-radius: calc(var(--radius) - 2px);
  border-bottom-right-radius: calc(var(--radius) - 2px);
  padding: calc(var(--spacing) * 2);
}

.markdown th {
  text-align: left;
  border-bottom: 3px solid var(--accent);
}
